{% extends 'admin/admin_base.html.twig' %}

{% block metatitle %} Categories admin
{% endblock %}

{% block main %}

    <section>

        <table>
            <tr>
                <td>Id</td>
                <td>Nom</td>
                <td>Pictogramme</td>
                <td>Modifier</td>
                <td>Supprimer</td>
                {# <td>Voir</td> #}

            </tr>

            {% for category in categories %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.nameCategory }}</td>
                    <td> <div class="pictoCategory"> <img src="{{ asset('uploads/'~category.pictogram) }}" alt="illustration de : {{ category.nameCategory }}"> </div> </td>

                    <td> <a href="{{ path('admin_delete_category', {id: category.id}) }}"> Supprimer la catégorie </a> </td>
                    <td> <a href="{{ path('admin_update_category', {id: category.id}) }}"> Modifier </a> </td>
                    {# <td> <a href="{{ path('admin_show_category', {id: category.id}) }}"> Voir la catégorie </a> </td> #}
                </tr>

            {% endfor %}

        </table>

    </section>

{% endblock %}