<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block metatitle %}Welcome admin!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

    <link href="{{ asset('asset/css/style.css') }}" rel="stylesheet" />
    <link href="{{ asset('asset/css/app.css') }}" rel="stylesheet" />

</head>


<body>

    <header>

        <div id="headerTopBar">
            <div class="search-container">
                <form action="/search" method="GET">
                    <input type="text" placeholder="Rechercher..." name="search">
                    <button type="submit">Rechercher</button>
                </form>
            </div>

            <a href="">Connexion</a>
        </div>

        <div id="headerMainBar">
            <nav>
                <a href="{{ path('home') }}">LOGO</a>
                <ul>
                    <li> <a href="">Informations pratiques</a> </li>
                    <li> <a href="">Découvrir Bordeaux</a> </li>
                    <li> <a href="{{ path('list_activities') }}">Les activités</a> </li>
                </ul>
            </nav>
        </div>

    </header>


    <main>
        {# vérifie si des messages flashes ont été enregistrés par un controleur. Si oui, on les affiche #}
        {% for message in app.flashes('success') %}
            <div class="success-message">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <div class="error-message">
                {{ message }}
            </div>
        {% endfor %}


        {% block main %}{% endblock %}
    </main>


    <footer>
        <p>hello le footer</p>
    </footer>


    {% block script %}{% endblock %}

</body>

</html>
