<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block metatitle %}Welcome admin!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

    <link href="{{ asset('asset/css/app.css') }}" rel="stylesheet" />

</head>


<body>

    <header>

        <div id="headerTopBar">
            <div class="search-container">
                <form action="/search" method="GET">
                    <input type="text" placeholder="Rechercher..." name="search">
                    <button type="submit"> <i class="fa-solid fa-magnifying-glass"></i> </button>
                </form>
            </div>

            <div class="rightPart">
                <img class="iconUser" src="{{ asset('asset/images/icons/circle-user-solid.png') }}" alt="icon user connection">
                <a href="{{ path('app_login') }}">Espace utilisateur</a>

                <div id="iconLanguage"> <img src="{{ asset('asset/images/icons/french_flag.jpg') }}" alt="Icon french flag"> </div>
            </div>
        </div>


        <div id="headerMainBar">
            <nav class="header-nav">
                <a class="logo" href="{{ path('home') }}">LOGO</a>
                <ul>
                    <li> <a href="{{ path('admin_list_categories') }}"> Gérer les catégories </a> </li>
                    <li> <a href="{{ path('admin_list_activities') }}"> Gérer les articles </a> </li>
                    <li> <a href="{{ path('admin_picture_gallery') }}"> Galerie photos </a> </li>
                    <li> <a href="{{ path('app_logout') }}"> Se déconnecter </a> </li>
                </ul>
            </nav>
        </div>

    </header>


    <main>
        {# vérifie si des messages flashes ont été enregistrés par un controleur. Si oui, on les affiche #}
        {% for message in app.flashes('success') %}
            <div class="success-message">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <div class="error-message">
                {{ message }}
            </div>
        {% endfor %}


        {% block main %}{% endblock %}
    </main>


    <footer>
        <nav class="footer-nav">
            <ul>
                <li> <a href="https://www.facebook.com/?locale=fr_FR" target="_blank"> <div class="iconFooter"> <img src="{{ asset('asset/images/icons/icon-facebook.png') }}" alt="icon facebook"> </div> </a> </li>
                <li> <a href="https://www.pinterest.fr/" target="_blank"> <div class="iconFooter"> <img src="{{ asset('asset/images/icons/icon-pinterest.png') }}" alt="icon pinterest"> </div> </a> </li>
                <li> <a href="https://www.instagram.com/" target="_blank"> <div class="iconFooter"> <img src="{{ asset('asset/images/icons/icon-instagram.png') }}" alt="icon instagram"> </div> </a> </li>
            </ul>
            <ul>
                <li> <a href=""> Mentions légales </a> </li>
                <li> <a href=""> Contact </a> </li>
                <li> <a href=""> Sites utiles </a> </li>
                <li> <a href=""> Applications </a> </li>
            </ul>
            <a href="#top"> <div class="iconFooter"> <img src="{{ asset('asset/images/icons/arrow-up-solid.png') }}" alt="arrow-up"> </div> </a>
        </nav>
    </footer>


    {% block script %}{% endblock %}

</body>

</html>
