{% extends 'admin/admin_base.html.twig' %}

{% block metatitle %}
{% endblock %}

{% block main %}

    <section>

        <table>
            <tr>
                <td>Id</td>
                <td>Email</td>
                <td>Pseudo</td>

                <td>Créé le :</td>
                <td>Voir</td>
                <td>Supprimer</td>
                <td>Bloquer</td>

            </tr>


            {% for user in users %}

            {# {% if user.roles == 'ROLE_ADMIN' %} #}

                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.username }}</td>

                    {# <td>{{ user.registeredAt | date('d.m.Y') }}</td>

                    <td> <a href="{{ path('admin_show_activity', {id: activity.id}) }}"> Voir l'activité </a> </td>
                    <td> <a href="{{ path('admin_delete_activity', {id: activity.id}) }}"> Supprimer l'activité </a> </td>
                    <td> <a href="{{ path('admin_update_activity', {id: activity.id}) }}"> Modifier </a> </td> #}

                </tr>

                {# {% endif %} #}

            {% endfor %}

        </table>

    </section>

{% endblock %}