{% extends 'admin/admin_base.html.twig' %}

{% block metatitle %}
{% endblock %}

{% block main %}

    <section>

        <table>
            <tr>
                <td>Id</td>
                <td>Email</td>
                <td>Pseudo</td>

                <td>Créé le :</td>
                <td>Voir</td>
                <td>Supprimer</td>
                <td>Bloquer</td>

            </tr>


            {% for user in users %}

            {# {% if user.roles == 'ROLE_ADMIN' %} #}

                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.username }}</td>

                    {# <td>{{ user.registeredAt | date('d.m.Y') }}</td>

                    <td> <a href="{{ path('admin_show_activity', {id: activity.id}) }}"> Voir l'activité </a> </td>
                    <td> <a href="{{ path('admin_update_activity', {id: activity.id}) }}"> Modifier </a> </td> #}



                    {# Supprimer l'utilisateur (+popup pour valider choix) #}
                    <div class="popup-confirmation" data-popup-target-id="{{ user.id }}">
                        <p>Voulez vous vraiment supprimer cet utilisateur ?</p>

                        <a href="{{ path('admin_delete_user', {id: user.id}) }}" class="a-style-popup"> Supprimer </a>
                        <button class="js-close-popup"> Annuler </button>
                    </div>

                    <p data-trigger-id="{{ user.id }}" class="js-popup-confirmation"> <i class="fa-regular fa-trash-can"></i> </p>



                </tr>

                {# {% endif %} #}

            {% endfor %}

        </table>

    </section>

{% endblock %}