{% extends 'public/base.html.twig' %}

{% block metatitle %}
{% endblock %}

{% block main %}

    <h1>Activités par catégories</h1>

    {% for category in categories %}

        <h2>{{ category.nameCategory }}</h2>

            {% for activity in category.activities %}
                <article>

                    <h2>{{ activity.title }}</h2>
                    <p> {{ activity.description }} </p>
                    <div class="imgActivity"> <img src="{{ activity.photo }}" alt="illustration de : {{ activity.title }}"> </div>
                    <p> {{ activity.date | date('d/m/Y') }} </p>
                    <a href="{{ path('show_activity', {id: activity.id}) }}"> Voir l'activité </a>

                </article>
            {% else %}
                <p>No activity found in this category.</p>
            {% endfor %}

    {% endfor %}

{% endblock %}