{% extends 'public/base.html.twig' %}

{% block main %}

    <h1> Les activités </h1>

    <section>

        {% if activity.isPublished %}

            <article>

                <h2>{{ activity.title }}</h2>
                <p> {{ activity.description }} </p>
                <div class="imgActivity"> <img src="{{ activity.photo }}" alt="illustration de : {{ activity.title }}"> </div>
                <p> {{ activity.date | date('d/m/Y')}} </p>
            </article>

        {% endif %}

    </section>

{% endblock %}