{% extends 'public/base.html.twig' %}

{% block main %}

{% if activity.isPublished %}

    <h1> {{ activity.title }} </h1>

    <section id="section-show-activity">

            <div class="show-activity">

                <div class="img-activity"> <img src="{{ asset('uploads/'~activity.photo) }}" alt="illustration de : {{ activity.title }}"> </div>

                <div class="infos-activity">
                    <div class="group-title">
                        <div class="pictogram"> <img src="{{ asset('uploads/'~activity.category.pictogram) }}" alt="icône {{ activity.category.nameCategory }}"> </div>
                        <h2>{{ activity.title }}</h2>
                    </div>
                    <p> <i class="fa-regular fa-calendar-check"></i> {{ activity.date | date('d/m/Y')}} </p>
                    {# <div class="location">
                        <i class="fa-solid fa-location-dot"></i>
                        <p> {{ activity.place }} </p>
                    </div> #}
                    <p> <i class="fa-solid fa-location-dot"></i> {{ activity.place }} </p>
                    <p> <i class="fa-regular fa-clock"></i> {{ activity.time | date('H:i') }} </p>

                </div>

                <p class="text-activity"> {{ activity.description }} </p>
            </div>

            {# Vérifie si l'utilisateur est connecté #}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {# Participer à l'activité (+ popup pour valider choix) #}
                <div class="popup-confirmation-block" data-popup-block-target-id="{{ activity.id }}">
                    <h2>{{ activity.title }} le {{ activity.date | date('d/m/Y')}}</h2>
                    <p>Validez-vous votre participation à cette activité ?</p>

                    <a href="{{ path('inscription_activity', {id: activity.id}) }}" class="a-style-popup"> Participer </a>
                    <button class="js-close-popup"> Annuler </button>
                </div>

                <p data-block-trigger-id="{{ activity.id }}" class="js-popup-confirmation-block btn-style"> Participer </p>
            {% else %}
                {# Si l'utilisateur n'est pas connecté, on affiche un message avec lien vers la page de connexion/inscription #}
                <p class="btn-style">
                    <a href="{{ path('app_login') }}"> Se connecter pour participer à l'activité.</a>
                </p>
            {% endif %}

    </section>


    <section id="section-participants">
        <h3>Participants</h3>

        {% if participants is not empty %}

            <div class="all-participants">
                {% for participant in participants %}
                    <div class="one-participant">
                        <div class="profilePicture"> <img src="{{ asset('uploads/' ~participant.profilePicture) }}" alt="photo de profil de : {{ participant.username }}"> </div>
                        <p class="display-username">{{ participant.username }}</p>
                    </div>
                {% endfor %}
            </div>

        {% else %}
            <p>Aucun participant n'est inscrit à cette activité pour le moment.</p>
        {% endif %}

    </section>

{% endif %}


{% endblock %}

{% block javascript %}
    <script src="{{ asset('asset/js/main.js') }}"></script>
{% endblock %}
