{%  extends 'public/base.html.twig' %}

{% block metatitle %}Hello Bordeaux{% endblock %}

{% block style %}


{% endblock %}


{% block main %}

    {% block banner %}
        <div id="banner">
        <img src="{{ asset('asset/images/home/panorama_bordeaux.png') }}" alt="panorama Bordeaux">
        </div>
    {% endblock banner %}


    <section id="infos-pratiques">
        <h2 class="styleTitle">Informations pratiques</h2>
        
        <div id="menuInfosPratiques">
            <article>
                <a href=""> <div class ="iconeInfosPratiques"><img src="{{ asset('asset/images/home/demarches.png') }}" alt="icône démarches administratives"></div> </a>
                <h3>Démarches administratives</h3>
            </article>

            <article>
                <a href=""> <div class ="iconeInfosPratiques"><img src="{{ asset('asset/images/home/sante.png') }}" alt="icône santé"></div> </a>
                <h3>Santé</h3>
            </article>

            <article>
                <a href=""> <div class ="iconeInfosPratiques"><img src="{{ asset('asset/images/home/ecoles.png') }}" alt="icône écoles"></div> </a>
                <h3>Ecoles</h3>
            </article>

            <article>
                <a href=""> <div class ="iconeInfosPratiques"><img src="{{ asset('asset/images/home/transport.png') }}" alt="icône transports"></div> </a>
                <h3>Transports</h3>
            </article>

            <article>
                <a href=""> <div class ="iconeInfosPratiques"><img src="{{ asset('asset/images/home/logement.png') }}" alt="icône logement"></div> </a>
                <h3>Logement</h3>
            </article>

        </div>
    </section>

    <section id="découvrir-bordeaux">
        <h2 class="styleTitle">Découvrir Bordeaux</h2>

        <div id="menuDecouvrirBordeaux">
            <article>
                <div> <img src="{{ asset('asset/images/home/balades.jpg') }}" alt="Photo de la place du Palais"> </div>
                <a href=""> <h3> Circuits pour découvrir la ville </h3> </a>
            </article>

            <article>
                <div> <img src="{{ asset('asset/images/home/adresses-bordelaises.jpg') }}" alt="Repas en terrasse"> </div>
                <a href=""> <h3> Les bonnes adresses bordelaises </h3> </a>
            </article>

             <article>
                 <a href="{{ path('list_activities') }}">
                    <div> <img src="{{ asset('asset/images/home/participer-activites.jpg') }}" alt="Photo rue Sainte Colombe"> </div>
                    <h3> Participer aux activités </h3>
                 </a>
            </article>
        </div>
        
    </section>

    <section id="activites">

        <h2 class="styleTitle">Participer aux activités !</h2>

        <div id="carousel">
            <div class="owl-carousel owl-theme">
                {% for activity in activities %}
                    {% if activity.isPublished %}
                        <a href="{{ path('show_activity', {'id': activity.id}) }}">
                            <div class="view-activity">
                                <div class="photo-activity"> <img src="{{ asset('uploads/'~activity.photo) }}" alt="illustration de : {{ activity.title }}"> </div>
                                <h3> {{ activity.title }} </h3>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        
        <article id="sortiesSemaine">

                <div class="imageArticle"> <a href=""> <img src="{{ asset('asset/images/home/sorties-semaine.png') }}" alt="Photo des entrepôts Darwin"> </a> </div>
                <div class="textArticle">
                    <a href=""> <h4> Les sorties de la semaine </h4> </a>
                    <p> Vous retrouvez ici une sélection des sorties et des évènements de la semaine, publiées par d'autres réseaux de la ville de Bordeaux !  </p>
                </div>

        </article>

    </section>

{% endblock %}

{% block javascript %}
        <script src="{{ asset('asset/js/owl_carousel/owl.carousel.js') }}"></script>
        <script>
                    $(document).ready(function(){
                        $(".owl-carousel").owlCarousel({
                            margin:20,
                            nav:true,
                            loop : true,
                            autoplay:true,
                            autoplayTimeout:3000,
                            autoplayHoverPause:true,

                            responsive:{
                                0:{
                                    items:1
                                },
                                600:{
                                    items:3
                                },
                                1000:{
                                    items:5
                                }
                            }
                        });
                    });
        </script>
{% endblock %}