{% extends 'public/base.html.twig' %}

{% block metatitle %} Mon profil
{% endblock %}


{% block main %}

    <h1> Profil </h1>

    <section id="section-profile">

            <div class="profile">

                <div class="userId">
                    <div class="username">
                        <div class="profilePicture"> <img src="{{ asset('uploads/' ~user.profilePicture) }}" alt="photo de profil de : {{ user.username }}"> </div>
                        <h2>{{ user.username }}</h2>
                    </div>
                    <p>{{ user.firstName }}  <span class="small-font">(visible uniquement par les admins)</span></p>
                </div>

                <div class="presentation">
                    <h3>Présentation</h3>
                    <p> {{ user.presentation }} </p>
                </div>

                <a href="{{ path('user_update_user', {id: user.id}) }}"> <i class="fa-solid fa-pencil"></i> </a>

            </div>

            <div class="infos-personnelles">
                <h2>Informations personnelles</h2>

                <div class="icon-action">
                    <a href="{{ path('user_update_user', {id: user.id}) }}"> <i class="fa-solid fa-gear"></i> </a>

                    {# Supprimer l'utilisateur (+popup pour valider choix) #}
                    <div class="popup-overlay"></div>
                    <div class="popup-confirmation-delete" data-popup-target-id="{{ user.id }}">
                        <p>Voulez vous vraiment supprimer votre compte ?</p>

                        <a href="{{ path('user_delete_user', {id: user.id}) }}" class="a-style-popup"> Supprimer </a>
                        <button class="js-close-popup"> Annuler </button>
                    </div>

                    <p data-trigger-id="{{ user.id }}" class="js-popup-confirmation-delete"> <i class="fa-regular fa-trash-can cursor-pointer"></i> </p>

                </div>

                <div class="tableau">
                    <table>

                        <tr>
                            <td> Email </td>
                            <td> <p> {{ user.email }} </p> </td>
                        </tr>

                        <tr>
                            <td> Numéro de téléphone </td>
                            <td> <p> {{ user.phone }} </p> </td>
                        </tr>

                        <tr>
                            <td> Date de naissance </td>
                            <td> {{ user.birthDate | date('d.m.Y') }} </td>
                        </tr>


                        <tr>
                            <td> Inscrit·e le : </td>
                            <td> {{ user.registeredAt | date('d/m/Y')}} </td>
                        </tr>

                    </table>

                </div>
            </div>

    </section>

    <section id="section-myActivities">

        <h2>Mes activités</h2>

        <div class="my-activities">

            {% for activity in myActivities %}
            <div class="my-activity">
                <h3>{{ activity.title }}</h3>
                <a href="{{ path('show_activity', {id: activity.id}) }}"><div class="img-my-activity"> <img src="{{ asset('uploads/'~activity.photo) }}" alt="illustration de : {{ activity.title }}"> </div> </a>

            </div>
            {% else %}
                <p>Aucune activité trouvée</p>
            {% endfor %}

        </div>

        <a class="add-btn-style" href="{{ path('list_activities') }}"> Voir les activités </a>

    </section>

{% endblock %}

{% block javascript %}
<script src="{{ asset('asset/js/main.js') }}"></script>
{% endblock %}